* {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  list-style: none;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
header {
  padding: 20px 100px;
  font-size: 20px;
}

.nav-group {
  width: 100%;
  color: #0065fc;
  display: flex;
  margin-bottom: 50px;
  height: 100px;
}
.group-un {
  width: 50%;
  padding-top: 20px;
  height: 100%;
}
.logo {
  width: 30%;
  height: 100%;
  object-fit: cover;
}
nav {
  width: 50%;
  margin: 20px 20px;
  font-size: 20px;
}
.links {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}
.nav-link {
  color: #0d0f13;
  margin-right: 30px;
}
.nav-link-register {
  color: #0065fc;
  font-weight: bold;
}
.nav-link:hover {
  color: #0065fc;
  padding: 10px 0px;
  /*text-decoration: overline;*/
  border-top: 1px solid #0065fc;
  padding-top: 30px;
}
.phrase-introductive {
  font-size: 18px;
}
/*Pour les button*/
.container {
  display: flex;
  padding: 20px 0px 20px 0px;
  border-radius: 5px;
  width: 50%;
}

.localisation-icon {
  background-color: #f2f2f2;
  height: 50px;
  padding-top: 12px;
  text-align: center;
  width: 7%;
  border-radius: 15px 0px 0px 15px;
}
.barre-de-recherche {
  display: flex;
  width: 100%;
}
::placeholder {
  color: #000;
}
.recherche {
  /*height: 40px;*/
  width: 30%;
  border: 1px solid #f2f2f2;
  font-weight: bold;
  color: #000;
  font-size: 18px;
  padding-left: 15px;
}
.search-btn{
  background-color: #0065fc;
  border: none;
  width: 16%;
  border-radius: 0px 10px 10px 0px;
  /*height: 40px;*/
}
.search-btn:hover{
   box-shadow: 1px 1px 1px 1px #000;
   cursor: pointer;
}

.search-label {
  color: #ffff;
  font-size: 16px;
  /*background-color: #0065fc;
  color: #ffff;
  font-size: 16px;
  height: 40px;
  width: 15%;
  border: none;
  padding: 5px 5px 5px 5px;
  border-radius: 0px 10px 10px 0px;*/
}
.search-icon{
  display: none;
}
/* Pour les filtres*/
.filtre-group {
  display: flex;
  margin: 20px 0px 20px 0px;
}
.filtre {
  margin-right: 25px;
}
.wrapper-filtre {
  display: flex;
  width: 100%;
  height: 100%;
  place-items: center;
  margin-top: 0px;
}
.wrapper-filtre .button {
  display: flex;
  width: 40%;
  float: left;
  height: 50px;
  background: #ffff;
  cursor: pointer;
  border-radius: 50px;
  overflow: hidden;
  margin: 0px 5px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0, 1);
  transition: all 0.3s ease ease-out;
}
.wrapper-filtre .button /*:hover*/ {
  width: auto;
  border: 3px solid#f2f2f2;
  margin-right: 25px;
}
.button:hover {
  cursor: pointer;
  background-color: #deebff;
}
.wrapper-filtre .button .icon {
  color: #0065fc;
  background-color: #deebff;
  display: flex;
  /*width: 19%;*/
  width: auto;
  border-radius: 50px;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  /*line-height: 30px; */
}
.wrapper-filtre .button:nth-child(1):hover .icon {
  background: #deebff;
}
.wrapper-filtre .button:nth-child(2):hover .icon {
  background: #deebff;
}
.wrapper-filtre .button:nth-child(3):hover .icon {
  background: #deebff;
}
.wrapper-filtre .button:nth-child(4):hover .icon {
  background: #deebff;
}
.wrapper-filtre .button .icon i {
  font-size: 20px;
  line-height: 60px;
}
.wrapper-filtre .button span {
  font-size: 18px;
  width: auto;
  font-weight: bold;
  /*line-height: 50px;
  margin-left: 30px;*/
  padding: 13px 20px 0px 20px;
  text-align: center;
}
/* Pour l'incon information*/
.info {
  display: flex;
  font-size: 15px;
  padding-top: 20px;
}
.incon-info {
  width: 20px;
  color: #0065fc;
  background: #ffff;
  border-radius: 50px;
  border: 1px solid#f2f2f2;
  text-align: center;
  font-size: 10px;
}
section,
.second-section {
  padding: 20px 100px;
}
.first-section {
  display: flex;
  width: 100%;
}
.hebergement-marseille {
  padding: 30px 20px 0px 30px;
  background-color: #f2f2f2;
  width: 75%;
  border-radius: 20px;
  margin: 0px 50px 0px 0px;
  height: 780px;
}
.premiere-line-hebergement {
  display: flex;
  margin-bottom: 20px;
  padding-top: 20px;
  width: 100%;
}

.deuxieme-line-hebergement {
  display: flex;
}
.card {
  background-color: #fff;
  margin: 0px 20px 0px 0px;
  padding: 5px;
  border-radius: 15px;
  font-size: 10px;
  height: 294px;
  width: 34%;
}
.card:hover {
  cursor: pointer;
  border: 5px solid #0065fc;
  height: 294px;
}
.card-image-container {
  height: 200px;
  width: 100%;
}

.card-image {
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  width: 100%;
}
.heading {
  padding: 10px 0px 0px 20px;
  font-weight: bold;
  font-size: 20px;
}
.hotel-prix {
  font-size: 15px;
  padding: 5px 0px 0px 20px;
}
sub {
  font-weight: bold;
}

.star-icons {
  padding: 0px 0px 0px 20px;
  color: #0065fc;
  font-size: 15px;
}
.empty-star {
  color: #f2f2f2;
  font-size: 15px;
}
.second-line {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
.second-line > * {
  background-color: #ffff;
  border-radius: 20px;

  font-size: 10px;
}
.Afficher {
  font-weight: bold;
  font-size: 20px;
  padding: 30px 30px 0px 0px;
  color: #0d0f13;
}
/*  POUR LE 2ieme BLOCK "LES PLUS POPULAIRES*/
.block-two {
  height: 780px;
  background-color: #f2f2f2;
  padding: 30px 20px 20px 20px;
  /* margin: 0px 50px 20px 0px;*/
  border-radius: 20px;
  width: 25%;
}
.title {
  display: flex;
  justify-content: space-between;
}
.line-chart-icon {
  font-weight: bold;
  font-size: 30px;
}
.container-pour-3 {
  padding: 0px;
}
.les-plus-populaires-item {
  display: flex;
  background-color: #ffff;
  width: 100%;
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 5px;
  border-radius: 15px;
  font-size: 10px;
  height: 180px;
}
.les-plus-populaires-item:hover {
  border: 5px solid #0065fc;
  height: 180px;
}
.les-plus-populaires-img {
  height: 100%;
  width: 40%;
}
.les-plus-populaires {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 0px 0px 10px;
}
.les-plus-populaires-details {
  width: 60%;
  padding: 15px 30px 0px 20px;
}
.h4 {
  /*line-height: 15px;*/
  font-size: 20px;
  font-weight: bold;
}
.p4 {
  padding-top: 10px;
  font-size: 15px;
}
.les-plus-populaires-star-icons {
  padding: 25px 0px 0px 0px;
  color: #0065fc;
  font-size: 15px;
}

/*POUR LE DEUXIEME MAIN*/

.activite {
  width: 100%;
}
.second-section-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 90px;
  width: 100%;
  padding: 40px 0px;
}
.second-section-images:hover,
.aside:hover,
.aside2:hover {
  border: 5px solid #0065fc;
  cursor: pointer;
}
.second-section-images {
  width: 100%;
  height: 506px;
  background-color: #ffff;
  border-radius: 15px;
  box-shadow: 0px 5px 5px rgb(176, 176, 177);
}

.container-img-article {
  height: 430px;
  width: 100%;
}
.img-article {
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}
.premier-aside {
  display: grid;
  /*grid-template-rows: 3fr 2fr;*/
  gap: 50px;
}
.container-img-aside {
  height: 180px;
  width: 100%;
}

.aside {
  background-color: #ffff;
  border-radius: 15px;
  box-shadow: 0px 5px 5px rgb(176, 176, 177);
  padding: 0px;
  border-radius: 15px;
  height: 250px;
  width: 100%;
}
.img-aside {
  height: 100%;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}
.container-img-aside2 {
  height: 140px;
  width: 100%;
}
.aside2 {
  background-color: #ffff;
  border-radius: 15px;
  box-shadow: 0px 5px 5px rgb(176, 176, 177);
  padding: 0px;
  border-radius: 15px;
  height: 200px;
  width: 100%;
}
.img-aside2 {
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  object-position: top;
}

.img-title {
  padding: 20px;
  font-size: 20px;
}

.footer {
  width: 100%;
  background-color: #f2f2f2;
  padding: 50px 0px 0px 100px;
  display: flex;
  margin: 0px;
  font-size: 20px;
}
.footer > * {
  width: 34%;
  margin-right: 50px;
  line-height: 40px;
  font-family: "Raleway", sans-serif;
}
.footer-title {
  padding-bottom: 20px;
}
.footer-links {
  color: black;
}
a:hover {
  color: #0065fc;
}

/*MEDIA QUERY*/

@media screen and (max-width: 480px) {
  header {
    padding: 30px 20px 20px 20px;
  }
  .nav-group {
    width: 100%;
    height: 160px;
    margin-bottom: 10px;
  }
  .group-un {
    width: 100%;
    height: 52px;
    padding-top: 0;
    margin-top: 20px;
  }
  .logo {
    width: 70%;
    height: 100%;
    object-fit: cover;
  }
  nav {
    width: 50%;
    margin: 0;
    padding: 0;
  }
  .link1 {
    padding-top: 77px;
    border-bottom: 5px solid #f2f2f2;
    margin-right: -9px;
    padding-bottom: 20px;
 
  }
  .nav-link:hover {
    border-bottom: 5px solid #0065fc;
    border-top: none;
    padding: 20px 0px;
    width: 100%;
  }
  .link2 {
    padding-top: 0px;
    width: auto;
    padding-right: 0;
    font-size: 17px;
  }
  h2 {
    padding-bottom: 18px;
  }
  .fa-search {
    color: #fff;
  }
  .container {
    width: 100%;
  }
  .filtre-group,
  .wrapper-filtre {
    flex-direction: column;
    place-items: flex-start;
  }
  .localisation-icon {
    width: 16%;
  }
  .recherche {
    width: 79%;
  }
  .search-btn{

    width: 16%;
    border-radius: 10px 10px 10px 10px;
    /*height: 40px;*/
  }
  .search-label {
    display: none;
  }
  .wrapper-filtre .button {
    width: auto;
    margin-top: 18px;
  }
  .search-icon{
    display: initial;
    font-size: 16px;
  }
  .info {
    font-size: 18px;
    margin: 0px 0px 20px 0px;
  }
  .incon-info {
    width: 12%;
    height: 32px;
    margin-right: 14px;
  }
  .fa-info {
    padding-top: 6px;
    font-size: 16px;
  }
  section,
  .second-section {
    padding: 20px 0px;
  }

  .block-two {
    width: 100%;
    border-radius: 0;
  }
  .les-plus-populaires-details {
    padding: 15px 25px 0px 20px;
  }
  .hebergement-marseille {
    border-radius: 0;
    width: 100%;
    height: 1649px;
    margin: 0;
    background-color: #ffff;
    padding: 30px 20px 20px 20px;
  }

  .first-section {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .premiere-line-hebergement {
    flex-direction: column;
  }
  .card {
    width: 100%;
    height: 230px;
    margin-bottom: 15px;
    box-shadow: 0px 5px 5px rgb(176, 176, 177);
  }
  .card:hover {
    height: 230px;
  }
  .card-image-container {
    height: 135px;
    width: 100%;
    /* background-color:red ; */
  }
  .deuxieme-line-hebergement {
    flex-direction: column;
  }

  section,
  .second-section {
    padding: 0px 0px;
  }
  .second-section {
    padding: 30px 20px 0px 20px;
  }
  .second-section-group {
    display: block;
    padding-top: 30px;
  }
  .second-section-images {
    height: 240px;
    margin-bottom: 30px;
  }
  .container-img-article {
    height: 180px;
    width: 100%;
  }
  .img-article {
    object-position: top;
  }
  .premier-aside {
    display: block;
  }
  .aside {
    margin-bottom: 30px;
    height: 191px;
  }
  .aside2 {
    height: 228px;
    margin-bottom: 30px;
  }
  .container-img-aside {
    height: 131px;
  }
  .container-img-aside2 {
    height: 168px;
  }
  .footer {
    flex-direction: column;
    width: 100%;
    padding: 50px 20px 0px 20px;
  }
  .footer > * {
    width: 100%;
    margin-bottom: 57px;
  }
}

@media screen and (max-width: 1024px) {
  
  header{
    padding: 0px 30px;
  }
  .group-un{
    width: 50%;
  
  }
  .logo{
    width: auto;
  }
  nav {
    margin: 35px 0px;
}
  .container{
    width: 100%;
  }
  .info{
    margin-bottom: 50px;
  }
  section, .second-section {
    padding: 0px 30px;
   }
  .block-two{
   /* display: flex;
    flex-direction: row;
    padding: 0;*/
    width: 100%;
    height: 433px;
  
  }
  .title{
    width: 100%;
  }
  .container-pour-3 {
    padding: 0px;
    display: flex;
   }
  .les-plus-populaires {
    border-radius: 10px 10px 0px 0px;
   }
.les-plus-populaires-item{
  margin-right: 20px;
  height: 270px;
  width: 100%; 
  display: block;
}
.les-plus-populaires-item:hover {
  border: 5px solid #0065fc;
  height: 270px;
}
  .les-plus-populaires-details {
    padding: 10px 0px 0px 20px;
   width: 100%;
  }
  .les-plus-populaires-img {
    height: 148px;
    width: 100%;
  }
  .h4{
    width: 100%;
  }
  .filtre {
    margin-right: 0;
  }
  .les-plus-populaires-star-icons{
    padding: 0px 0px 0px 0px;
  }
  .wrapper-filtre .button {
    margin-right: 0;
    margin-left: 20px;
  }
  .wrapper-filtre .button span {
    padding: 13px 5px 0px 10px; 
}
  .first-section {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .p4 {
    padding-top: 5px;
  }
  .hebergement-marseille{
    width: 100%;
    margin-top: 20px;
  }
  .second-section-group{
    grid-template-columns: repeat(2, 1fr);
  }
  .img-aside2{
    object-position: initial;
  }
  .footer {
    padding: 50px 20px 0px 0px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 69px;
  }
 .footer > * {
      width: 100%;
    } 
  .footer-one,.footer-two,.footer-three{
    margin-left: 40px;
    margin-right: 0;
  }    
}


