* {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  list-style: none;
  padding:0px;
  margin: 0px;
  box-sizing:border-box;
}
header{
  padding: 20px 100px;
  font-size: 20px;
}

.nav-group {
  width: 100%;
  color: #0065fc;
  display:flex;
  margin-bottom: 50px;
  height: 80px; 
}
.group-un{
     width:50%;
     padding-top: 20px;
}
.logo{
  width: 26%;
  height: 60px;
  object-fit: cover;
}
nav{
  width:50%;
  margin:20px 20px; 
}
 .links{
  display: flex;
 justify-content: flex-end;
 padding-top: 20px;
}
.element{
  color: #0d0f13;
  margin-right:30px; 
}
.element-inscrire{
  color: #0065fc;
  margin-right: 0px;
 /* margin-left: 30px;*/
}
.element:hover{
  color:  #0065fc ;
   padding: 10px 0px;
  /*text-decoration: overline;*/
  border-top: 1px solid #0065fc;
  padding-top:30px;
}
.phrase-introductive{
  font-size: 15px;
   /*margin-left: 20px;*/

 }
/*Pour les button*/
.container {
  /*margin-left: 20px;*/
  display: flex;
  padding: 20px 0px 20px 0px;
 border-radius: 5px;
 width: 50%;
}

.localisation-icon{
  background-color: #f2f2f2;
  height: 36px;
  padding-top: 8px;
  text-align: center;
  width: 7%;
  border-radius: 10px 0px 0px 10px;
 /* padding-top:25px ;*/
}
.barre-de-recherche{
  display: flex;
  width: 100%; 
}
.recherche{
  height: 40px;  
 width: 25%;
 border: 1px solid #828283;
}
.recherche-button{ 
  background-color: #0065fc;
  /*text-align: center;*/
  color: #ffff;
  height: 43px; 
  width: 15%;
  border:none;
  padding:5px 5px 5px 5px;
  border-radius: 0px 10px 10px 0px;
}
/* Pour les filtres*/
.filtre-group{
  display: flex; 
  /*margin-left: 20px;*/
  margin: 20px 0px 20px  0px;
}
.filtre{
  margin-right: 25px;
}
.wrapper-filtre{
  display: flex;
  width: 100%;
  height:100%;
  place-items: center ;
 margin-top: 0px;
}
.wrapper-filtre .button{
  display: flex;
  width: 40px;
  float: left;
  height:40px;
  background: #ffff;
  cursor: pointer;
  border-radius:50px;
  overflow: hidden;
  margin:0px 5px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0,0,1);
  transition: all 0.3s ease ease-out;
}
.wrapper-filtre .button /*:hover*/{
  width: 200px;
  border: 2px solid#DEEBFF ;
  margin-right: 25px;
}
.button:hover{
cursor: pointer;
border: 5px solid#DEEBFF ;

}
.wrapper-filtre .button .icon{
  color: #0065fc;
  background-color: #DEEBFF;
  display: flex;
  width: 40px;
  height:40px;
  border-radius:50px;
  align-items: center;
  padding-left: 10px;
  box-sizing: border-box;
  /*line-height: 30px; */
}
.wrapper-filtre .button:nth-child(1):hover .icon{
  background: #DEEBFF;
}
.wrapper-filtre .button:nth-child(2):hover .icon{
  background: #DEEBFF;
}
.wrapper-filtre .button:nth-child(3):hover .icon{
  background: #DEEBFF;
}
.wrapper-filtre .button:nth-child(4):hover .icon{
  background: #DEEBFF;
}
.wrapper-filtre .button .icon i{
  font-size:20px;
  line-height: 60px;
 /* background:#DEEBFF ;
  border-radius: 100px;*/
}
.wrapper-filtre .button span{
  font-size:15px;
  font-weight: bold;
  line-height: 40px;
  margin-left: 10px;
}
/* Pour l'incon information*/
.info{
  display: flex;
  font-size: 15px;
  padding-top: 20px;
}
.incon-info{
  width:20px;
  color: #0065fc;
  background: #ffff;
  border-radius: 50px;
  border: 1px solid#f2f2f2 ;
  text-align: center;
  font-size: 10px;
}
section,.second-section {
  padding: 20px 100px;
}
.first-section{
  display: flex;
  width:100%;
 /* margin-right: 20px;*/
}
.hebergement-marseille{
  padding: 30px 20px 0px 30px;
  background-color: #f2f2f2;
  width: 75%;
  border-radius: 20px;
  margin: 0px 50px 0px 0px; 
 /* height: 480px;*/
  height:780px ;
}
.premiere-line-hebergement{
  display: flex;
 margin-bottom: 20px;
  padding-top: 20px;
  width: 100%;
}

.deuxieme-line-hebergement{
  display: flex;
}
.card{
  background-color:#fff;
 /* width: 180px;*/
  margin:0px 20px 0px 0px;
 padding:5px;
  border-radius:15px; 
  font-size:10px;
 /* height:160px;*/
 height: 294px ;
  width: 100%;
}
.card:hover{
  cursor: pointer;
  border:5px solid #0065fc;
}
.card-image-container{
  /*height:100px*/
  height:200px;
  width:100%;  
 /* background-color:red ; */
}

.card-image{
  height:100%;
 width: 100%;
  border-radius: 10px 10px 0px 0px;
 object-fit:cover;
  /*padding-left: 3px;
  padding-right:3px;*/
  width: 100%;
}
.heading{
  padding: 10px 0px 0px 20px;
  font-weight: 500;
  font-size:20px ;
}
.hotel-prix{
  font-size: 15px;
  padding: 5px 0px 0px 20px;
}
.star-icons{
  padding: 10px 0px 0px 20px;
  color: #0065fc;
  font-size: 15px;
}

.second-line {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
.second-line>*{
  background-color: #ffff;
  border-radius: 20px;

  font-size: 10px;
}
.Afficher{
  font-weight: bold;
  font-size: 20px;
  padding:30px 30px 0px 0px;
  color:#0d0f13;
}
/*  POUR LE 2ieme BLOCK "LES PLUS POPULAIRES*/
.block-two{
  /*height: 480px;*/
  height: 761px;
  background-color: #f2f2f2;
 padding: 30px 20px 20px 20px;
 /* margin: 0px 50px 20px 0px;*/
  border-radius: 20px;
  width: 25%;
}
.title{
  display: flex;
  justify-content: space-between;
}

.container-pour-3{
 padding:0px ;
}
.les-plus-populaires-item{
  display: flex;
  background-color:#ffff;
 width: 100%;
  margin-top:50px ;
  margin-bottom: 50px;
 padding:5px 0px 5px 5px;
  border-radius:15px; 
  font-size:10px;
  height:180px;
} 
.les-plus-populaires-item:hover{
 border: 5px solid #0065fc;
}
.les-plus-populaires-img{
  height:100%;
  width: 50%;
}
.les-plus-populaires{
  height:100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 0px 0px 5px;
}
.les-plus-populaires-details{
  padding:15px 50px 0px 20px ;
}
.h4{
  /*line-height: 15px;*/
  font-size: 20px;
  font-weight: bold;
}
.p4{
  padding-top: 10px;
  font-size: 15px;
}
.les-plus-populaires-star-icons{
  padding: 50px 0px 0px 0px;
  color: #0065fc;
  font-size: 15px;
}
 
/*.article-one{
  height: 50px;
  width: 50%;
  border: #ffff;
  margin-bottom: 50px;
}*/
/*POUR LE DEUXIEME MAIN*/

.activite{
  width: 100%;
}
.second-section-group{
 display: grid;
 grid-template-columns: repeat(4,1fr);
 gap: 90px;
 width: 100%;
 padding: 40px 0px;
}
.second-section-images:hover, .aside:hover, .aside2:hover{
  border: 5px solid #0065fc;
  cursor: pointer;
}
.second-section-images{
width:100%;
  height: 590px;
 background-color:#ffff;
 border-radius: 0px 0px 15px 15px; 
 box-shadow: 0px 5px 5px rgb(176, 176, 177);
}

.container-img-article{
 height: 520px ;
  width: 100%; 
}
.img-article{
    height: 100%; 
    width: 100%;
    border-radius:10px 10px 0px 0px; 
    object-fit: cover;
}
.premier-aside{
  display: grid;
    grid-template-rows: 3fr 2fr;
    gap: 100px;
}
.container-img-aside{
  height: 200px ;
  width: 100%;
}

.aside{
  background-color: #ffff;
  border-radius:15px; 
  box-shadow: 0px 5px 5px rgb(176, 176, 177);
 padding:0px;
  border-radius:15px; 
  height:270px;
  width: 100%;
}
.img-aside{
  height:100%;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
 object-fit:cover;
}
.container-img-aside2{
  height: 110px ;
  width: 100%;
  }
  .aside2{
    background-color: #ffff;
    border-radius:15px; 
    box-shadow: 0px 5px 5px rgb(176, 176, 177);
   padding:0px;
    border-radius:15px; 
    height:180px;
    width: 100%;
  }
 .img-aside2{
  height:100%;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
 object-fit:cover;
 }

.img-title{
  padding: 5px;
  font-size:20px;
}

 .footer{
  /* width: 100%;*/
   background-color: #f2f2f2;
   padding: 50px 0px 0px 100px;
   display:flex ;
   margin: 0px;
   font-size:20px; 
   
 }
 .footer >*{
   width: 50%;
   margin-right: 50px;
   line-height: 40px; 
   font-family:"Raleway", sans-serif ;
  ;
}
.footer-title{
   padding-bottom:20px
 }
.footer-links{
   color: black;
   
}
a:hover{
  color: #0065fc;
}